

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.box {
    position: absolute;;
     -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
     -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
     box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
     width: 340px;
     height: 300px;
     justify-content: center;
     align-items: center;
     margin: auto;
     border: none;
     padding: 10px;
     background-color:rgba(47, 194, 105, 0.90);
     border-radius: 5px;
 }

 .form {
     width: 99%;
     border: none;
     border-radius: 5px;
     -ms-flex-align: center;
     position: relative;
     width: 330px;
 }

 .text {
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color: rgb(34, 84, 48)
 }

 .bg {
    position: relative;
     background-image: url("images/pngwing.com.png");
     background-size: 700px;
     background-repeat: no-repeat;
     background-position: center;
 }



 @media (max-width: 1080px) and (max-height: 2262px) {


    body {
            font-size: 16px;
            
        }


    max-zoom: 30%;
     .box {
         min-width: 50%;
         max-width: 100%;
         min-height: 10%;
         max-height: 100%;
         width: 80%;
         height: auto;
            
     }

     .form {
         min-width: 100%;
         max-width: 100%;
         min-height: 50%;
         max-height: 100%;
         width: 600px;
         height: auto;
     }
 }
