body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.box {
     position: absolute;;
     min-width: 40%;
     height: auto;
     justify-content: center;
     align-items: center;
     border: none;
     padding: 10px;
     background-color:rgba(47, 194, 105, 0.90);
     border-radius: 5px;
 }

 .form {
     width: 97.8%;
     border: none;
     border-width: 2%;
     border-radius: 5px;
     -ms-flex-align: center;
     position: relative;
     padding: 5px;
     justify-content: center;
 }

 .text {
     text-align: left;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 100%;
     color: rgb(34, 84, 48)

 }

 .bg {
     display: flex;
     align-items: center;
     background-image: url("images/pngwing.com.png");
     background-size: 60%;
     background-repeat: no-repeat;
     background-position: center;
 }

 .bg::before,
 .bg::after {
     content: "";
     width: 20%;
     height: 110%;
     background-color: rgba(42, 135, 14, 0.9);
     position: absolute;
     top: -5;
     z-index:-1 ;
 }

 .bg::before {
     left: -10px;
     margin-right: px;
 }
 

 .bg::after {
     right: -10px;
     margin-left: 10px;
 }


 .tombol {
     width: 100% ;
     border: none;
     border-radius: 5px;
     text-align: center ;
     
 }
 
 .tombol:hover {
    background-color:rgb(22, 105, 22);
    color: whitesmoke;
 }


 @media(max-height:2048px) and (max-width:1080px)  {

    .bg {
            display: flex;

            background-image: url("images/pngwing.com.png");
            background-size: 80%;
            background-repeat: no-repeat;
            background-position: center;
        }
    
        .bg::before,
        .bg::after  {
            width: 0%;
            height: 0%;
            background-color: yellowgreen;
            position: absolute;
            top: 0;
        }
    
        
    .text {
        font-size: 300%;
    }


    
     .box {
         width: 70%;
         height: auto;
     }

     .form {
        font-size: 200%;
     }




            
     


 }  